#main-text {
    display: flex;
    color: violet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
  }
#body {
    background-color: rgb(3, 108, 245);
  }