@font-face {
    font-family: "Custom Fonts";
    src: url("customFonts/Geraldine.ttf");
}
#main-text {
    display: flex;
    color:  violet;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Custom Fonts", arial ;
    font-size: 70px;
    text-align: center;
  }
#body {
    background-color: rgb(3, 108, 245);
  }